<div class="workspace">
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="toolbar">
                <a class="links"><i class="fa fa-plus"></i></a>
            </div>
            <div class="folder-tree">
                <tm-tree-view tree-data="folderTree" text-field="name" value-field='id'
                              can-checked="false"></tm-tree-view>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-main">
            <div class="toolbar"></div>
            <div class="data-list"></div>
        </div>
    </div>
</div>